<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

<head>
    <link rel="stylesheet" href="/css/blogStyle.css">
</head>

<div layout:fragment="content">
    <!-- container -> container-fluid로 변경 -->
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
            <h2>새 글 작성</h2>
                <hr>
                <form th:action="@{/blog/savePost}" th:object="${post}" method="post">
                    <div class="mb-3">
                        <label for="postTitle" class="form-label">글 제목</label>
                        <input type="text" class="form-control" th:field="*{title}" placeholder="제목 입력">
                    </div>
                    <div class="mb-3">
                        <label for="postContent" class="form-label">본문</label>
                        <textarea class="form-control" id="postContent" rows="25" th:field="*{content}" placeholder="내용 입력"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="postMenu" class="form-label">메뉴</label>
                        <select class="form-select" th:field="*{menu}" required>
                            <option value="">--- 메뉴 선택 ---</option>
                            <th:block th:each="menu : ${menus}">
                                <option th:value="${menu.no}" th:text="${menu.name}"></option>
                            </th:block>
                        </select>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-end gap-1">
                        <button type="submit" class="btn btn-primary">저장</button>
                        <button type="button" class="btn btn-secondary" onclick="cancelPost()">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>
