<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<link rel="stylesheet" href="/static/css/blogStyle.css">

<div layout:fragment="content">
  <div class="container mt-4">
  <h2>글 수정</h2>
  <form>
    <div class="mb-3">
      <label for="postTitle" class="form-label">글 제목</label>
      <input type="text" class="form-control" id="postTitle" placeholder="제목 입력">
    </div>
    <div class="mb-3">
      <label for="postContent" class="form-label">본문</label>
      <textarea class="form-control" id="postContent" rows="25" placeholder="내용 입력"></textarea>
    </div>
    <div class="mb-3">
      <label for="postCategory" class="form-label">카테고리</label>
      <select class="form-select" id="postCategory">
        <option value="음식">음식</option>
        <option value="음악">음악</option>
        <option value="책">책</option>
        <option value="영화">영화</option>
      </select>
    </div>
    <div class="d-flex justify-content-end">
      <a href="detailPost.html" class="btn btn-primary me-2">수정</a>
      <!-- 취소 버튼을 링크로 변경 -->
      <a href="detailPost.html" class="btn btn-danger">취소</a>
    </div>
  </form>
</div>
</div>
</html>
