<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title>블로그 글 목록</title>
</head>
<body th:attr="data-domain=${domain}">
<div layout:fragment="content" class="container mt-4">
    <!-- 상단 영역 -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>
            <span th:text="${board != null ? board.name : '블로그'}">블로그</span>,
            <span th:text="${#lists.size(posts)} + '개의 글'"></span>
        </h4>
    </div>

    <!-- 글 목록 테이블 -->
    <table class="table align-middle">
        <thead>
        <tr>
            <th>글 제목</th>
            <th class="text-end">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td>
                <!-- <a th:href="@{/postDetail(id=${post.no})}" -->
                    <a th:href="@{/{domain}/postRWD/{no}(domain=${domain}, no=${post.no})}"
                   th:text="${post.title}"
                   class="fw-bold text-dark text-decoration-none">
                </a>
                <p class="text-muted small mb-0" th:text="${previewMap[post.no]}">
                </p>
            </td>
            <td class="text-end"
                th:text="${#temporals.format(post.regDate, 'yyyy.MM.dd. HH:mm')}">
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
