<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script th:src="@{/webjars/jquery/dist/jquery.min.js}" type="text/javascript"></script>
      <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
      <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
      <link rel="stylesheet" href="/css/header.css">
</head>

<body>
      <div th:replace="~{fragment/header :: header}"></div>
      <div class="row">
            <!-- model.addAttribute("showAside", false); 추가시 아래 div는 사라짐. -->
            <div class="col-12 col-md-3 col-lg-2 " th:if="${showAside != false}">
                  <div th:replace="~{fragment/aside :: aside}"></div>
            </div>
            <div class="col-12 col-md-9 col-lg-10">
                  <div layout:fragment="content" class="content"></div>
            </div>
      </div>
</body>

</html>