<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<link rel="stylesheet" href="/static/css/blogStyle.css">

<head>
    <link rel="stylesheet" href="/css/blogStyle.css">
</head>
<div layout:fragment="content">
    <script src="/js/blog/menuManage.js"></script>
    <h5>메뉴 편집</h5>
    <div>
        <form id="addMenu" th:action="@{/menu/add}" method="post">
            <label class="form-label">새 메뉴 추가</label>
            <select class="form-select" name="ref" id="ref">
                <option value="0">상위 항목 없음</option>
                <th:block th:each="eachMenu : ${menuList}">
                    <option th:value="${eachMenu.no}" th:text="${eachMenu.name}"></option>
                </th:block>
            </select>
            <input type="text" id="menuName" name="menuName" class="form-control" placeholder="메뉴명을 입력하세요">
            <button class="btn btn-success mt-2">추가</button>
        </form>
    </div>
    <hr>
    <div>
        <label class="form-label">메뉴 삭제</label>
        <ul class="list-group" id="MenuList">
            <tr th:each="eachMenu : ${menuList}">
                <li class="list-group-item">
                    <input type="checkbox" class="form-check-input me-2 menuCB">
                    <input type="hidden" class="menuNo" th:value="${eachMenu.no}">
                    <p class="menuName" th:text="${eachMenu.name}"></p>
                </li>
            </tr>
        </ul>

        <div class="d-flex justify-content-between mt-2">
            <button class="btn btn-danger" id="deleteMenu">삭제</button>
            <button class="btn btn-secondary">닫기</button>
        </div>
    </div>

</div>

</html>