<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
    <link rel="stylesheet" href="/css/blogStyle.css">
</head>
<div layout:fragment="content">
    <script src="/js/blog/postDetail.js"></script>
    <link rel="stylesheet" href="static/css/blogStyle.css">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- 메인 콘텐츠 -->
    <main>
        <div class="row">
            <div class="col-12 mb-2 border rounded">
                <h1 th:text="${post.title}"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-5 border rounded">
                <p th:text="${post.content}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-primary">좋아요</button>
                <button type="button" class="btn btn-primary">댓글열기</button>
            </div>
            <div class="col-6 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-primary me-1">수정</button>
                <button type="button" class="btn btn-danger" id="deletePost">삭제</button>
            </div>
        </div>
    </main>
</div>

</html>