<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
</head>
<div layout:fragment="content">
    <main class="col-md-9">
        <section id="post-list">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">글 제목</h5>
                    <p class="card-text">글 내용 미리보기...</p>
                </div>
            </div>
        </section>
    </main>
</div>

</html>