<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<head>

</head>
<header th:fragment="header">
    <nav class="navbar navbar-expand-sm">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-between align-items-center w-100">
                <span class="navbar-brand d-flex align-items-center p-0">
                    <a href="#" class="p-0">
                        <img class="img-responsive me-2" src="/img/logo_oneteam.png" alt="oneteam logo" height="45px">
                    </a>
                    <a href="#" class="p-0">
                        <img class="img-responsive" src="/img/logo_cafe.webp" alt="cafe logo" height="20px">
                    </a>
                </span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center gap-3">
                        <li class="nav-item">
                            <a class="nav-link" href="#">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">로그아웃</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">내정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">카페홈</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">가입한카페</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
</header>

</html>